---
---

.source-code {
    cursor: pointer;
    margin-left: 1em;
    &:hover {
        text-decoration: none;
    }
}
pre[class*="language-"] {
    display: none;
    max-height: 480px;
    font-size: 0.8em !important;
    &.static {
        display: block;
    }
}
.echarts-ex {
    width: 100%;
    height: 360px;
    overflow: hidden;
}
