body {
  background-image: url(../../assets/570daa012808c.png);
  background-position: 100% -100px;
  background-repeat: repeat-y;
}

.screen-center {
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: $spacing-unit;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.24), 0 40px 60px rgba(0, 0, 0, 0.12);
    @include media-query($on-laptop) {
        max-width: calc(#{$content-width} - (#{$spacing-unit}));   
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
      }
    @include media-query($on-palm) {
      width: 80%;
    }
}

%clearfix:after {
  content: '';
  clear: both;
  display: table;
}


.post-column {
  ul {
    @extend %clearfix;
    li {
      float: left;
      width: 48%;
    } 
  } 
  @include media-query($on-laptop) {
    float: none;
  }
}

.global-nav {
  height: 200px;
  padding: 0 calc(#{$spacing-unit}*2);
  box-sizing: border-box;
  //overflow: hidden; /* 作用同.global-nav::after {clear: both} */
  a:hover {
    text-decoration: none;
  }
  .logo {
    width: 33%;
    height: 200px;
    float: left;
    padding: 0 $spacing-unit;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    .avatar {
      width: 160px;
      height: 160px;
    }
  }
  nav {
    float: left;
    height: 100px;
    line-height: 100px;
    width: 65%;
    margin-top: 50px;
    display: block;
    ul {
      float: left;
      list-style: none;
      margin-left: 0;
      padding: 0 $spacing-unit;
      height: 50px;
      line-height: 50px;
      padding-top: 25px;
      li {
        display: inline-block;
        margin-right: 36px;
        letter-spacing: 0.3em;
        height: 36px;
        line-height: 36px;
        a {
          line-height: 100%;
        }
      }
    }
  }
  @extend %clearfix;
  @include media-query($on-laptop) {
    padding: 0 $spacing-unit;
    .logo {
      float: none;
      height: 100px;
      width: 100px;
      margin: auto;
      padding: 0;
      .avatar {
        width: 100px;
        height: 100px;
      }
    }
    nav {
      width: 100%;
      margin-top: 0;
      ul {
        float: none;
        width: auto;
        margin: 25px auto 0 auto;
        padding: 0;
        text-align: center;
        @include relative-font-size(0.3);
        li {
          margin-right: 5px;
        }
      }
    }
  }
}
.site-header {
  border-bottom: none;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right,#fff 0,#0085b2 33%,#ff007f 66%,#000 100%);
  }
}

.post-list {
  h3 {
    margin: 0;
  }
}
.post-link {
  display: inline-block;
}
li.avtive {
  position: relative;
  a {
    color: black;
  }
  &::after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    left: -2px;
    bottom: -4px;
    background-color: #2a7ae2;     
  }
}
.post-tag {
  font-size: $small-font-size;
  color: $grey-color;
  cursor: pointer;
  &:hover {
    color: black;
  }
}

nav {
  max-width: calc(#{$content-width} - #{$spacing-unit}*2);
  float: left;
  margin-top: 25px;
  height: 50px;
  line-height: 50px;
  ul li {
    line-height: 100%;
    display: inline;
    margin-right: $spacing-unit;
    position: relative;
    a {
      line-height: 100%;
      @include relative-font-size(1.4);
      &:hover {
        text-decoration: none;
      }
    }
  }
} 

.postpage-nav {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  padding: 0 calc(#{$spacing-unit}*2);
  background-image: url(/assets/pattern.svg);
  .postpage-nav-wrap {
    max-width: calc(#{$content-width} - #{$spacing-unit}*2);
    margin: 0 auto;
    .avatar {
      width: 100px;
      height: 100px;
      float: left;
      margin-right: 100px;
    }
    @extend %clearfix;
  }
  @include media-query($on-palm) {
    padding: 0;
    position: relative;
    border-bottom: 1px solid #ffffff;
    .avatar {
      margin-left: 12px;
    }
    .menu {
      margin-right: 12px;
      cursor: pointer;
    }
    nav {
      border-top: 1px solid gray;
      display: block;
      top: 100px;
      margin-top: 0;
      position: absolute;
      width: 100%;
      height: 360px;
      background-image: url(/assets/pattern.svg);;
      ul {
        height: 100%;
        margin: 0;
        padding: 36px;
        box-sizing: border-box;
        li {
        display: block;
        text-align: center;
        height: 36px;
        margin-bottom: 36px;
        }
      }
    }
    li.avtive::after {
      visibility: hidden;;
    }
  } 
}

.menu {
  width: 50px;
  height: 50px;
  float: right;
  margin-top: 25px;
  border: 1px solid #fff;
  padding: 6px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  visibility: hidden;
  .hr {
    background-color: #ffffff;
    display: inline-block;
    height: 4px;
  }
  @include media-query($on-palm) {
    visibility: visible;
  }
}